spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/studs
    username: s409117
    password: k8H5ZFzdG34IGY3X
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  thymeleaf:
    cache: false
  mvc:
    format:
      date-time: iso
      date: iso
      time: iso

server:
  port: 8080

flyway:
  enabled: true
  locations: classpath:db/migration
  baseline-on-migrate: true
  baseline-version: 0
